.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}
/* LEFT */
.header__left {
    /* height: 60px; */
    height: inherit;
    /* width: auto; */
    /* display: flex; */
    /* box-sizing: border-box; */
}

#header__logo {
    padding: 4px 0 0 0;
    margin-left: 11px;
}

.header__logoLink {
    /* text-decoration: none; */
    display: flex;
    /* position: static; */
    /* float: none; */
    /* flex-shrink: 0; */
    padding: 1px 8px 0 6px;
    margin: 1px;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
}

.header__logoLink:hover {
    padding: 0 7px 0 5px;
    border: 1px solid white;
    border-radius: 2px;
}

.header__logoBase {
    margin-top: 12px;

    background-image: url(https://m.media-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);

    background-position: -10px -51px;
    width: 97px;
    height: 30px;
}
/* LEFT END*/
/* FILL */
.header__fill {
    height: 60px;
    display: flex;
    flex: 1 1 auto;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    padding: 10px 4px 10px 3px;
    margin: 0 18px;
    border-radius: 4px 4px 4px 4px;
}

.header__searchInput {
    height: 20px;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 4px 0 0 4px;
}

.header__searchIcon {
    padding: 5px;
    width: 35px !important;
    height: 30px !important;
    background-color: #febd69;
    border-radius: 0 4px 4px 0;
}
/* FILL END*/
/* RIGHT */
.header__right {
    height: 60px;
    display: flex;
    align-items: center;
    float: right;
}

.header__tools {
    display: flex;
    box-sizing: border-box;
    height: 60px;
    margin-top: 2px;
    padding: 3px 0 0 0;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header__optionLineOne {
    padding: 0 1px;
    font-size: 10px;
    width: 100%;
    height: 14px;
    margin-top: 9px;
    padding-left: 2px;
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.header__optionLineTwo {
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.header__accountList {
    text-decoration: none;
    margin-left: 6px;
    margin-right: 0;
    padding-right: 9px;
    padding-left: 9px;
    padding-top: 0px;
    padding-bottom: 10px;

    height: 50px;
    display: flex;
    box-sizing: border-box;

    white-space: nowrap;
    flex-flow: column nowrap;
    justify-content: center;
}

.header__accountList:hover {
    padding: 0 8px 10px 8px;
    border: 1px solid white;
    border-radius: 2px;
}

.header__orders {
    text-decoration: none;
    /* margin-left: 6px; */
    margin-right: 0;
    padding-right: 9px;
    padding-left: 9px;
    padding-top: 0px;
    padding-bottom: 10px;

    height: 50px;
    display: flex;
    box-sizing: border-box;

    white-space: nowrap;
    flex-flow: column nowrap;
    justify-content: center;
}

.header__orders:hover {
    padding: 0 8px 10px 8px;
    border: 1px solid white;
    border-radius: 2px;
}

.header__basket {
    padding-right: 8px;
    padding-left: 9px;
    margin-left: 6;
    margin-right: 15px;
    padding-bottom: 10px;
    flex-flow: row nowrap;
    padding: 0 9px 11px 9px;
    height: 50px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    position: static;
    float: none;
    flex-shrink: 0;
    justify-content: center;
    text-decoration: none;
    line-height: 44px;
}

.header__basket:hover {
    padding: 0 8px 10px 8px;
    border: 1px solid white;
    border-radius: 2px;
}

.header__basket:hover .header__basketCount {
    top: 7px;
}

.header__optionBasket {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    padding-bottom: 1px;
}

.header__basketSprite {
    width: 41px;
    height: 28px;
    background-position: -218px -337px;
    background-image: url(https://m.media-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
}

.header__basketCount {
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
    left: 13px;
    top: 8px;
    padding: 0;
    margin: 0;
    width: 19px;
    height: 14px;
    line-height: 16px;
    color: #f08804;
    font-size: 16px;
    font-weight: 700;
}